@using PizzaStore.Database
@model IEnumerable<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = new (string singular, string plural, string link)[] {
("Пицца", "Пицца", "pizza"),
("Закуска", "Закуски", "snacks"),
("Напиток", "Напитки", "drinks")
};
}

<body>
    @foreach (var category in categories)
    {
        <a class="category" name="@category.link">@category.plural</a>
        <div class="container" mt-5>
            <!-- Parent -->
        <div class="row product-wrapper">
                @foreach (var item in Model.Where(p => p.Categories.Any(x => x.Name == category.singular)))
                {
                    <!-- Child -->
                    <div class="product">
                        <div class="image">
                            <img src="@Html.DisplayFor(modelItem => item.ImageSource)" alt="">
                        </div>
                        <div class="info">
                            <div>
                                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                <h4>@Html.DisplayFor(modelItem => item.Description)</h4>
                            </div>
                            <button id="@item.Id" onclick="addProd(@item.Id)" class="add-to-cart">
                                <ion-icon name="cart-outline"></ion-icon>
                            </button>
                        </div>
                        <span class="price">@Html.DisplayFor(modelItem => item.Price) ₽</span>
                    </div>
                }
            </div>
        </div>
    }
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>